@import "tailwindcss";
@import "./styles/tokens.css";

@font-face {
  font-family: "Google Sans Flex";
  src: url("./assets/fonts/GoogleSansFlex.ttf") format("truetype");
  font-style: normal;
  font-weight: 100 1000;
  font-display: swap;
}

@layer base {
  body {
    font-family: var(--font-waypoint);
    color: var(--wp-text-primary);
  }
}
